In [1]:
import pandas as pd
import os 

data = pd.read_csv("order_brush_order.csv")
data.event_time = pd.to_datetime(data.event_time, format = "%Y-%m-%d %H:%M:%S")

# data[(data.shopid > 2000000) & (data.userid > 300000)]
data[data.userid == 30530270]

              orderid    shopid    userid          event_time
0      31076582227611  93950878  30530270 2019-12-27 00:23:03
67272  31076582227612  85459037  30530270 2019-12-27 00:23:03

In [ ]:
data_tuples = list(zip(data2[data2.userid == i],data2[data2.shopid == i].event_time))

In [3]:
import datetime

data2 = data[0:20000].copy()

shop = pd.unique(data2.shopid)
shop_order = []
for i in range(len(shop)):
    orderlist = []
    orderlist = pd.array(data2[data2.shopid == shop[i]].event_time)
    shop_order.append(orderlist)

brushorder = []

for j in range(len(shop_order)): 
    if len(shop_order[j]) > 3: 
        brushorder.append(shop[j])
    
#Sort according to event time
#Create a dataframe that contains both event time and user id 
flag = []
for i in brushorder: 
    data_tuples = list(zip(data2[data2.shopid == i].userid,data2[data2.shopid == i].event_time))
    data_tuples = sorted(data_tuples, key = lambda x: x[1])
    if(i == 136564914):
        print(data2[data2.shopid == 136564914])
    count = 0
    for j in range(2,len(data_tuples)): 
        startpoint = data_tuples[count]
        comparepoint = data_tuples[j]
        timedelta = comparepoint[1] - startpoint[1]
        totalhr = timedelta.total_seconds()/3600
        if(totalhr == 1 ):
            no_transactions = len(data_tuples[count:j+1])
            if(no_transactions / len(set([i[0] for i in data_tuples[count:j+1]])) >= 3):
#                 print(count, j+1)
#                 print(data_tuples[count:j+1])
                flag.append(i)
                break
            else:
                count = j+1
        elif(totalhr > 1):
            no_transactions = len(data_tuples[count:j])
            if(no_transactions/ len(set([i[0] for i in data_tuples[count:j]])) >= 3):
#                 print(count, j)
#                 print(data_tuples[count:j])
                flag.append(i)
                break
            else:
                count = j        
# print(flag)

              orderid     shopid     userid          event_time
5267   31078326520636  136564914   64306412 2019-12-27 00:52:07
6258   31239947956355  136564914  191211430 2019-12-28 21:45:47
8784   31314624706182  136564914   94349278 2019-12-29 18:30:24
9132   31459635370083  136564914  178491887 2019-12-31 10:47:15
12836  31461163874452  136564914  178491887 2019-12-31 11:12:44
13339  31487033996742  136564914  124942519 2019-12-31 18:23:53
17120  31460552586619  136564914  178491887 2019-12-31 11:02:32
19046  31460079839934  136564914  178491887 2019-12-31 10:54:40
19377  31179887059312  136564914  189445983 2019-12-28 05:04:47

In [5]:
data2[(data2.shopid == 136564914) & (data2.userid == 178491887)].sort_values(by = "event_time")

              orderid     shopid     userid          event_time
9132   31459635370083  136564914  178491887 2019-12-31 10:47:15
19046  31460079839934  136564914  178491887 2019-12-31 10:54:40
17120  31460552586619  136564914  178491887 2019-12-31 11:02:32
12836  31461163874452  136564914  178491887 2019-12-31 11:12:44